:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 12px;
}

.chart-header {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;

  .title {
    font-size: 18px;
    font-weight: 700;
  }
}

.chart-container {
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
}

.buttons-container {
  display: flex;
  gap: 16px;

  & > .button {
    cursor: pointer;

    &.active {
      background-color: rgba(var(--tw-color-primary));
      color: white;
    }
  }
}
